html {
    background-image: url(resources/PNG10343.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@font-face {
    font-family: 'Segoe UI';
    src: url("font/SegoeUI-VF.ttf") format("truetype");
}
@font-face {
  font-family: 'Segoe UI Light';
  src: url("font/segoe-ui-light.ttf") format("truetype");
}  
.altale {
  font-family:'Segoe UI Light';
  color: white;
  font-size: 40px;
  transform: translateY(-54px);
}
