html {
  background-image: url(resources/PNG10813.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@font-face {
  font-family: 'Segoe UI';
  src: url("fonts/SegoeUI-VF.ttf") format("truetype");
}
@font-face {
font-family: 'Segoe UI Light';
src: url("fonts/segoe-ui-light.ttf") format("truetype");
}  

.window-body {
  height: 550px;
}
#headerthing {
  font-size: 30px;
  color: green;
  font-weight: lighter;
  transform: translateY(10px);
  right: 5px;
}
.marquee {
  width: 650px;
  transform: translateY(10px);
}
#warning {
  font-size: 15px;
  transform: translateY(10px);
}
#progress {
  font-size: 15px;
  transform: translateY(65px);
}
