html {
    background-image: url(resources/luna_xp_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
[draggable=true] {
    cursor: move;
}
.window {
    resize: both;
    z-index: -10;
    position: relative;

}
.taskbar {
        background-color: #245EDC;
        background: linear-gradient(to bottom, #245EDC 0%, #3f8cf3 9%, #245EDC 18%, #245EDC 92%, #1941A5 100%) center/cover no-repeat;
        position: fixed;
        bottom: 0px;
        left: -10px;
        width: 1990px;
        height: 32px;
        z-index: 1;
        float: none;
        
    }
    #start-button {
        position: absolute;
        bottom: -5px;
        z-index: 2;
        cursor: pointer;
        
    }
    
    #start-button:hover {
        content: url(resources/axiumcrisis.png);
        width: 109px;
        height: 40.61px;
    }
    
    .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
    }
    
    
    }
    
    #dragParent {
        width: 300px;
        margin: auto;
        overflow: hidden;
        height: 200px;
        position: relative;
    }
   
@font-face {
  font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
  src: url("font/SegoeUI-VF.ttf");
  src: url("font/tahoma.ttf");
  src: url("font/arial-black.ttf");
}
 

  
